Repository AlbinaBlazhko17/task-tracker-backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --check --write --ignore-unknown

fix: eslint config
  eslint.config.mjs
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add auth guard
  src/app/modules/auth/decorators/auth.decorator.ts
  src/app/modules/auth/guards/jwt.guard.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add prisma service
  src/app/prisma.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add auth dto
  src/app/modules/auth/dto/auth.dto.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: fixed prisma errors, dependencies and prisma module
  package-lock.json
  package.json
  prisma/schema/schema.prisma
  src/app/app.controller.spec.ts
  src/app/app.controller.ts
  src/app/app.module.ts
  src/app/app.service.ts
  src/app/config/app.config.ts
  src/app/core/jwt-strategy/jwt.strategy.ts
  src/app/core/prisma/prisma.module.ts
  src/app/core/prisma/prisma.service.ts
  src/main.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --check --write --ignore-unknown

fix: add back logger
  src/app/core/prisma/prisma.module.ts
  src/main.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add global core module
  src/app/app.module.ts
  src/app/core/core.module.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add husky pre-push script
  .husky/pre-push
Due: none

feat: add aliases
  src/app/app.module.ts
  src/main.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --check --write --ignore-unknown

feat: add import sorting
  .prettierrc
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --check --write --ignore-unknown

fix: format error
  .prettierrc
Due: none

refactor: folder structure, separate files into modules
  src/app/app-exceptions.filter.ts
  src/app/app.module.ts
  src/app/core/core.module.ts
  src/app/modules/auth/jwt.strategy.ts
  src/config/app.config.ts
  src/config/jwt.config.ts
  src/core/core.module.ts
  src/core/exceptions/exceptions.module.ts
  src/core/exceptions/filters/app-exceptions.filter.ts
  src/core/logging/logger.service.ts
  src/core/logging/logging.module.ts
  src/core/prisma/prisma.module.ts
  src/core/prisma/prisma.service.ts
  src/main.ts
  test/app.e2e-spec.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --check --write --ignore-unknown

feat: add global validation pipe
  src/main.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add error handling for validation pipe
  src/core/exceptions/filters/app-exceptions.filter.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add basic auth and user modules
  src/app/modules/auth/auth.controller.spec.ts
  src/app/modules/auth/auth.controller.ts
  src/app/modules/auth/auth.module.ts
  src/app/modules/auth/auth.service.spec.ts
  src/app/modules/auth/auth.service.ts
  src/app/modules/auth/decorators/auth.decorator.ts
  src/app/modules/auth/decorators/user.decorator.ts
  src/app/modules/auth/dto/auth.dto.ts
  src/app/modules/user/user.controller.spec.ts
  src/app/modules/user/user.controller.ts
  src/app/modules/user/user.module.ts
  src/app/modules/user/user.service.spec.ts
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: temporary remove inside pre-push script running tests
  .husky/pre-push
Due: none

chore: move properties createdAt and updatedAt to bottom of the table
  prisma/schema/interval.prisma
  prisma/schema/pomodoro.prisma
  prisma/schema/task.prisma
  prisma/schema/time-block.prisma
  prisma/schema/user.prisma
Due: none

feat: add basic auth flow: sign-in, sign-up, sign-out, refresh-tokens
  src/app/modules/auth/auth.controller.ts
  src/app/modules/auth/auth.service.ts
  src/app/modules/auth/dto/auth.dto.ts
  src/app/modules/auth/utils/remove-password.helper.ts
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add getting profile with stats and change profile properties
  src/app/app.module.ts
  src/app/modules/auth/auth.service.ts
  src/app/modules/pomodoro-interals/dto/pomodoro-intervals.dto.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.controller.spec.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.controller.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.module.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.service.spec.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.service.ts
  src/app/modules/task/dto/task.dto.ts
  src/app/modules/task/task.controller.spec.ts
  src/app/modules/task/task.controller.ts
  src/app/modules/task/task.module.ts
  src/app/modules/task/task.service.spec.ts
  src/app/modules/task/task.service.ts
  src/app/modules/user/dto/user.dto.ts
  src/app/modules/user/user.controller.ts
  src/app/modules/user/user.module.ts
  src/app/modules/user/user.service.ts
  src/core/core.module.ts
  src/utils/helpers/remove-password.helper.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --check --write --ignore-unknown

fix: remove password from update user response
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add vscode settings for project
  .vscode/settings.json
Due: prettier --check --write --ignore-unknown

fix: reset cookie from response
  src/app/modules/auth/auth.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: user dto, use partial utility type
  src/app/modules/user/dto/user.dto.ts
  src/app/modules/user/user.controller.ts
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add functionality to get intervals inside profile response
  prisma/schema/interval.prisma
  prisma/schema/user.prisma
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: rename user service method
  src/app/modules/user/user.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: sign-up
  src/app/modules/auth/auth.controller.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add tasks functionality
  src/app/modules/task/dto/task.dto.ts
  src/app/modules/task/task.controller.ts
  src/app/modules/task/task.service.ts
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: user dto
  src/app/modules/user/dto/user.dto.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: implement functionality of time blocking
  prisma/schema/time-block.prisma
  src/app/app.module.ts
  src/app/modules/time-block/dto/time-block.dto.ts
  src/app/modules/time-block/dto/update-order.dto.ts
  src/app/modules/time-block/time-block.controller.spec.ts
  src/app/modules/time-block/time-block.controller.ts
  src/app/modules/time-block/time-block.module.ts
  src/app/modules/time-block/time-block.service.spec.ts
  src/app/modules/time-block/time-block.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: implement functionality
  src/app/app.module.ts
  src/app/modules/pomodoro-timer/dto/pomodoro-round.dto.ts
  src/app/modules/pomodoro-timer/dto/pomodoro-session.dto.ts
  src/app/modules/pomodoro-timer/pomodoro-timer.controller.spec.ts
  src/app/modules/pomodoro-timer/pomodoro-timer.controller.ts
  src/app/modules/pomodoro-timer/pomodoro-timer.module.ts
  src/app/modules/pomodoro-timer/pomodoro-timer.service.spec.ts
  src/app/modules/pomodoro-timer/pomodoro-timer.service.ts
  src/app/modules/user/user.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: clean files
  src/app/modules/pomodoro-interals/pomodoro-intervals.controller.spec.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.controller.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.module.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.service.spec.ts
  src/app/modules/pomodoro-interals/pomodoro-intervals.service.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: configure jest tests
  .vscode/settings.json
  eslint.config.mjs
  package-lock.json
  package.json
  test/jest-e2e.json
  test/jest.config.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --check --write --ignore-unknown

feat: create tests for user service
  src/app/modules/user/user.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: create tests for user controller
  src/app/modules/user/user.controller.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add tests for auth service
  src/app/modules/auth/auth.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add tests for auth controller
  src/app/modules/auth/auth.controller.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add tests to task service
  src/app/modules/task/task.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add tests to task controller
  src/app/modules/task/task.controller.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: tests in task service
  src/app/modules/task/task.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: add tests for time-block service
  src/app/modules/time-block/time-block.service.spec.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: **/*.{js,mjs,ts,tsx}
  prettier --write --ignore-unknown: any of: **/*.{js,mjs,ts,tsx}
  prettier --check --write --ignore-unknown: any of: **/*.{json,yml,css,md,mdx}
